* {
  font-size: 30px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body{
  background-color: aqua;
  color: red;
  font-size: 20px;
  margin: 40px;
  border: solid 3px;
}

.rojo{
  color: green;
  font-weight: bold;
  text-transform: uppercase;
  border: solid 3px;
  width: 200px;
  height: 50px;
  margin-top: 50px;
  margin-left: 20px;
  padding: 10px;
}

#apellido{
  color: black;
}
